Repository ondras12345/vetrnik: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-power, check-control, test-power, test-control

check-power:
  name: make check in power firmware
  entry: sh -c 'cd firmware/zvire-vetrnik-power && make check'
  language: system
  pass_filenames: false
  verbose: true

check-control:
  name: make check in control firmware
  entry: sh -c 'cd firmware/zvire-vetrnik-control && make check'
  language: system
  pass_filenames: false
  verbose: true

test-power:
  name: make test in power firmware
  entry: sh -c 'cd firmware/zvire-vetrnik-power && make test'
  language: system
  pass_filenames: false

test-control:
  name: make test in control firmware
  entry: sh -c 'cd firmware/zvire-vetrnik-control && make test'
  language: system
  pass_filenames: false

Clean up untracked files
  firmware/zvire-vetrnik-control/.gitignore
  hardware/driver-bootstrap-cap.py
  hardware/zvire-vetrnik-power/sim/.gitignore
  hardware/zvire-vetrnik-power/sim/Draft1.asc
Due: none

[control] Add first version of postmort
  firmware/zvire-vetrnik-control/src/cli.cpp
  firmware/zvire-vetrnik-control/src/control.cpp
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
  firmware/zvire-vetrnik-control/src/main.cpp
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/ota.cpp
  firmware/zvire-vetrnik-control/src/reset_cause.cpp
  firmware/zvire-vetrnik-control/src/reset_cause.h
  firmware/zvire-vetrnik-control/src/settings.cpp
Due: check-control

[control] Log MQTT publish failures
  firmware/zvire-vetrnik-control/src/log.h
  firmware/zvire-vetrnik-control/src/mqtt.cpp
Due: check-control

[control] Fix printf format strings
  firmware/zvire-vetrnik-control/src/log.cpp
Due: check-control

[control] Log MQTT state
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/mqtt.h
Due: check-control

[control] Log kLogReinit events
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
Due: check-control

[control] Enable -Wall compiler warnings
  firmware/zvire-vetrnik-control/lib/CLIeditor/src/CLIeditor.h
  firmware/zvire-vetrnik-control/platformio.ini
  firmware/zvire-vetrnik-control/src/control.cpp
  firmware/zvire-vetrnik-control/src/debug.cpp
  firmware/zvire-vetrnik-control/src/lisp.cpp
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/power_board.cpp
Due: check-control, test-control

[control] Simplify log magic handling
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
Due: check-control

[control] Only print first 100 records in CLI log
  firmware/zvire-vetrnik-control/src/cli.cpp
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
Due: check-control

[control] Log pump events
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
  firmware/zvire-vetrnik-control/src/pump.cpp
Due: check-control

[control] Fix log printing bug
  firmware/zvire-vetrnik-control/src/log.cpp
Due: check-control

[control] Fix pump log spam
  firmware/zvire-vetrnik-control/src/pump.cpp
Due: check-control

[control] Reduce socket timeout for MQTT
  firmware/zvire-vetrnik-control/src/mqtt.cpp
Due: check-control

[control] Log DS18B20 errors
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
  firmware/zvire-vetrnik-control/src/sensor_DS18B20.cpp
Due: check-control

[control] Log slow loop()
  firmware/zvire-vetrnik-control/src/log.cpp
  firmware/zvire-vetrnik-control/src/log.h
  firmware/zvire-vetrnik-control/src/main.cpp
Due: check-control

[control] Update HA configuration for 2023.9
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

[control] Add availability topic to HA buttons
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

[control] Add id to HA automation
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

Update TODO notes
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-power/Makefile
Due: check-control

Reduce MPPT step authority
  firmware/zvire-vetrnik-control/lisp/30-control-conf.lisp
Due: none

Remove outdated gbrjob files
  hardware/vetrnik-control/gerber/vetrnik-control-job.gbrjob
  hardware/vetrnik-current-sensor-opamp/gerber/vetrnik-current-sensor-opamp-job.gbrjob
  hardware/vetrnik-current-sensor/gerber/vetrnik-current-sensor-job.gbrjob
  hardware/vetrnik-power-supply/gerber/vetrnik-power-supply-job.gbrjob
  hardware/vetrnik-power/gerber/vetrnik-power-job.gbrjob
  hardware/vetrnik-relays/gerber/vetrnik-relays-job.gbrjob
Due: none

Remove useless ibom config file
  hardware/vetrnik-power/bom/zvire-vetrnik-power.settings.json
Due: none

Rename enclosure documentation
  hardware/vetrnik-enclosure.dxf
  hardware/vetrnik-enclosure.md
  hardware/vetrnik-krabice.md
Due: none

Migrate KiCAD projects to KiCAD 7.0
  hardware/vetrnik-control/sym-lib-table
  hardware/vetrnik-control/vetrnik-control-rescue.kicad_sym
  hardware/vetrnik-control/vetrnik-control.kicad_pcb
  hardware/vetrnik-control/vetrnik-control.kicad_pro
  hardware/vetrnik-control/vetrnik-control.kicad_sch
  hardware/vetrnik-control/vetrnik-control.pro
  hardware/vetrnik-control/vetrnik-control.sch
  hardware/vetrnik-current-sensor-opamp/sym-lib-table
  hardware/vetrnik-current-sensor-opamp/vetrnik-current-sensor-opamp-rescue.kicad_sym
  hardware/vetrnik-current-sensor-opamp/vetrnik-current-sensor-opamp.kicad_pcb
  hardware/vetrnik-current-sensor-opamp/vetrnik-current-sensor-opamp.kicad_pro
  hardware/vetrnik-current-sensor-opamp/vetrnik-current-sensor-opamp.kicad_sch
  hardware/vetrnik-current-sensor-opamp/vetrnik-current-sensor-opamp.pro
  hardware/vetrnik-current-sensor-opamp/vetrnik-current-sensor-opamp.sch
  hardware/vetrnik-current-sensor/vetrnik-current-sensor.kicad_pcb
  hardware/vetrnik-current-sensor/vetrnik-current-sensor.kicad_pro
  hardware/vetrnik-current-sensor/vetrnik-current-sensor.kicad_sch
  hardware/vetrnik-current-sensor/vetrnik-current-sensor.pro
  hardware/vetrnik-current-sensor/vetrnik-current-sensor.sch
  hardware/vetrnik-power-supply/vetrnik-power-supply.kicad_pcb
  hardware/vetrnik-power-supply/vetrnik-power-supply.kicad_pro
  hardware/vetrnik-power-supply/vetrnik-power-supply.kicad_sch
  hardware/vetrnik-power-supply/vetrnik-power-supply.pro
  hardware/vetrnik-power-supply/vetrnik-power-supply.sch
  hardware/vetrnik-power/AVR-MCU.kicad_sch
  hardware/vetrnik-power/AVR-MCU.sch
  hardware/vetrnik-power/H-bridge.kicad_sch
  hardware/vetrnik-power/H-bridge.sch
  hardware/vetrnik-power/sym-lib-table
  hardware/vetrnik-power/vetrnik-power-rescue.kicad_sym
  hardware/vetrnik-power/vetrnik-power.kicad_pcb
  hardware/vetrnik-power/vetrnik-power.kicad_pro
  hardware/vetrnik-power/vetrnik-power.kicad_sch
  hardware/vetrnik-power/vetrnik-power.pro
  hardware/vetrnik-power/vetrnik-power.sch
  hardware/vetrnik-relays/vetrnik-relays.kicad_pcb
  hardware/vetrnik-relays/vetrnik-relays.kicad_pro
  hardware/vetrnik-relays/vetrnik-relays.kicad_sch
  hardware/vetrnik-relays/vetrnik-relays.pro
  hardware/vetrnik-relays/vetrnik-relays.sch
Due: none

[control] Fix unused variable in uart_power.cpp
  firmware/vetrnik-control/src/uart_power.cpp
Due: none

Update README files
  README.md
  docs/img/vetrnik.jpg
  firmware/vetrnik-power/platformio.ini
  hardware/README.md
  hardware/vetrnik-control/lib/README.md
Due: none

[control] Reduce spam from HA automation
  firmware/vetrnik-control/homeassistant/vetrnik.yaml
Due: none

Update README
  README.md
Due: none

Update README
  README.md
  firmware/vetrnik-control/README.md
  firmware/vetrnik-control/lisp/README.md
Due: none

[control] Fix printing of MQTT publish error log
  firmware/vetrnik-control/src/log.cpp
Due: none

[control] Log software reset event
  firmware/vetrnik-control/src/cli.cpp
  firmware/vetrnik-control/src/log.cpp
  firmware/vetrnik-control/src/log.h
Due: none

[control] Increase precision of log timestamp
  firmware/vetrnik-control/src/log.cpp
Due: none

[control] Detect & log millis rollover
  firmware/vetrnik-control/src/log.cpp
  firmware/vetrnik-control/src/log.h
  firmware/vetrnik-control/src/main.cpp
Due: none

[control] Export energy_Ws stat
  firmware/vetrnik-control/src/stats.cpp
  firmware/vetrnik-control/src/stats.h
Due: none

[control] Fix potentially imprecise energy stats
  firmware/vetrnik-control/src/stats.cpp
Due: none

[control] Prevent immediate MQTT reconnect
  firmware/vetrnik-control/src/mqtt.cpp
  firmware/vetrnik-control/src/settings.h
Due: none

[control] Publish energy_Ws stat via MQTT
  firmware/vetrnik-control/src/mqtt.cpp
  firmware/vetrnik-control/src/stats.h
Due: none

[control] Fix HA automation spam
  firmware/vetrnik-control/homeassistant/vetrnik.yaml
Due: none

Path conditions:
  check-power: any of: ^firmware/zvire-vetrnik-power/(src|lib|platformio.ini) and ^firmware/
  check-control: any of: ^firmware/zvire-vetrnik-control/(src|lib|platformio.ini) and ^firmware/
  test-power: any of: ^firmware/zvire-vetrnik-power/(lib|platformio.ini) and ^firmware/
  test-control: any of: ^firmware/zvire-vetrnik-control/(lib|platformio.ini) and ^firmware/
