Repository ondras12345/vetrnik: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-power, check-control, test-power, test-control

.pre-commit-config.yaml:

# vim: tabstop=2 softtabstop=2 shiftwidth=2 expandtab

# pre-commit install
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
files: ^firmware/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-power
        name: make check in power firmware
        entry: sh -c 'cd firmware/zvire-vetrnik-power && make check'
        language: system
        pass_filenames: false
        verbose: true
        files: ^firmware/zvire-vetrnik-power/(src|lib|platformio.ini)

      - id: check-control
        name: make check in control firmware
        entry: sh -c 'cd firmware/zvire-vetrnik-control && make check'
        language: system
        pass_filenames: false
        verbose: true
        files: ^firmware/zvire-vetrnik-control/(src|lib|platformio.ini)

      - id: test-power
        name: make test in power firmware
        entry: sh -c 'cd firmware/zvire-vetrnik-power && make test'
        language: system
        pass_filenames: false
        files: ^firmware/zvire-vetrnik-power/(lib|platformio.ini)

      - id: test-control
        name: make test in control firmware
        entry: sh -c 'cd firmware/zvire-vetrnik-control && make test'
        language: system
        pass_filenames: false
        files: ^firmware/zvire-vetrnik-control/(lib|platformio.ini)

      - id: codespell
        name: Check Spelling
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

[control] Update TODO comment in OTA
  firmware/zvire-vetrnik-control/src/ota.h
Due: check-control

[power] Add software enable command
  firmware/zvire-vetrnik-power/src/globals.cpp
  firmware/zvire-vetrnik-power/src/globals.h
  firmware/zvire-vetrnik-power/src/main.cpp
  firmware/zvire-vetrnik-power/src/uart.cpp
Due: check-power

[control] Add support for sw_enable
  firmware/zvire-vetrnik-control/lisp/40-buttons.lisp
  firmware/zvire-vetrnik-control/lisp/README.md
  firmware/zvire-vetrnik-control/src/cli.cpp
  firmware/zvire-vetrnik-control/src/control.cpp
  firmware/zvire-vetrnik-control/src/lisp.cpp
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/power_board.cpp
  firmware/zvire-vetrnik-control/src/power_board.h
Due: check-control

[control] Fix CLIeditor end sequence detection
  firmware/zvire-vetrnik-control/lib/CLIeditor/src/CLIeditor.cpp
  firmware/zvire-vetrnik-control/test/test_CLIeditor/test_CLIeditor.cpp
Due: check-control, test-control

[control] Add last5m to power status
  firmware/zvire-vetrnik-control/src/cli.cpp
  firmware/zvire-vetrnik-control/src/lisp.cpp
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/power_board.cpp
  firmware/zvire-vetrnik-control/src/power_board.h
Due: check-control

[control] [LISP] Control sw_enable & pump
  firmware/zvire-vetrnik-control/lisp/30-control-conf.lisp
  firmware/zvire-vetrnik-control/lisp/31-control-MPTT.lisp
  firmware/zvire-vetrnik-control/lisp/40-buttons.lisp
Due: none

[control] Fix typo in lisp/README.md
  firmware/zvire-vetrnik-control/lisp/README.md
Due: none

[control] [LISP] Set RPM high / low constants
  firmware/zvire-vetrnik-control/lisp/30-control-conf.lisp
Due: none

[LISP] Fix error if t0 temperature is nil
  firmware/zvire-vetrnik-control/lisp/31-control-MPTT.lisp
Due: none

[control] Retry DS18B20 temperature sensor read
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/sensor_DS18B20.cpp
  firmware/zvire-vetrnik-control/src/sensor_DS18B20.h
  firmware/zvire-vetrnik-control/src/settings.h
Due: check-control

[control] Increase resolution of stats.energy
  firmware/zvire-vetrnik-control/lisp/20-disp.lisp
  firmware/zvire-vetrnik-control/src/cli.cpp
  firmware/zvire-vetrnik-control/src/lisp.cpp
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/stats.cpp
  firmware/zvire-vetrnik-control/src/stats.h
Due: check-control

[control] Make circulation pump control reliable
  firmware/zvire-vetrnik-control/lisp/31-control-MPTT.lisp
  firmware/zvire-vetrnik-control/lisp/40-buttons.lisp
  firmware/zvire-vetrnik-control/src/cli.cpp
  firmware/zvire-vetrnik-control/src/control.cpp
  firmware/zvire-vetrnik-control/src/lisp.cpp
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/pump.cpp
  firmware/zvire-vetrnik-control/src/pump.h
  firmware/zvire-vetrnik-control/src/settings.h
Due: check-control

[control] Report power_board/power via MQTT
  firmware/zvire-vetrnik-control/src/mqtt.cpp
Due: check-control

[control] Fix MAKETMP_DECIMAL for uint32_t
  firmware/zvire-vetrnik-control/lib/MQTT_helpers/MQTT_helpers.h
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/test/test_MQTT_helpers/test_MQTT_helpers.cpp
Due: check-control, test-control

[control] Add hysteresis to DS18B20 MQTT reports
  firmware/zvire-vetrnik-control/src/mqtt.cpp
Due: check-control

[hardware] Add info about cables
  hardware/cables.md
Due: none

[control] Strictly specify dependency versions
  firmware/zvire-vetrnik-control/platformio.ini
Due: check-control, test-control

[control] Update dependencies
  firmware/zvire-vetrnik-control/platformio.ini
Due: check-control, test-control

[control] Improve build / upload system
  firmware/zvire-vetrnik-control/Makefile
  firmware/zvire-vetrnik-control/extra_script.py
  firmware/zvire-vetrnik-control/platformio.ini
Due: check-control, test-control

[control] Print git commit id in `ver` CLI command
  firmware/zvire-vetrnik-control/.gitignore
  firmware/zvire-vetrnik-control/Makefile
  firmware/zvire-vetrnik-control/src/cli.cpp
Due: check-control

[control] Optimize MAKETMP_BOOL MQTT helper
  firmware/zvire-vetrnik-control/lib/MQTT_helpers/MQTT_helpers.h
Due: check-control, test-control

[control] Add display backlight control over MQTT
  firmware/zvire-vetrnik-control/lisp/40-buttons.lisp
  firmware/zvire-vetrnik-control/src/display.cpp
  firmware/zvire-vetrnik-control/src/display.h
  firmware/zvire-vetrnik-control/src/lisp.cpp
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/settings.h
Due: check-control

[control] Allow executing CLI commands via MQTT
  firmware/zvire-vetrnik-control/src/cli.cpp
  firmware/zvire-vetrnik-control/src/cli.h
  firmware/zvire-vetrnik-control/src/mqtt.cpp
  firmware/zvire-vetrnik-control/src/settings.h
Due: check-control

[control] Add TODO note to settings.h
  firmware/zvire-vetrnik-control/src/settings.h
Due: check-control

[control] Add Home Assistant config package
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

[control] Add HA automation to notify of errors
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

[power] Set duty to 0 when stopping and shorted
  firmware/zvire-vetrnik-power/src/main.cpp
  firmware/zvire-vetrnik-power/src/settings.h
Due: check-power

[power] Make RPM filter configurable
  firmware/zvire-vetrnik-power/src/RPM.cpp
  firmware/zvire-vetrnik-power/src/settings.cpp
  firmware/zvire-vetrnik-power/src/settings.h
Due: check-power

[power] Change OVP setting
  firmware/zvire-vetrnik-power/src/settings.h
Due: check-power

[power] Improve build system
  firmware/zvire-vetrnik-power/Makefile
  firmware/zvire-vetrnik-power/platformio.ini
Due: check-power, test-power

[power] Change default frequency to 400Hz
  firmware/zvire-vetrnik-power/src/settings.cpp
Due: check-power

[power] Remove TODO comment
  firmware/zvire-vetrnik-power/src/settings.cpp
Due: check-power

[control] Fix Home Assistant power board commands
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

[control] Improve HA notification automation
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

[control] Quiet down HA notification automation
  firmware/zvire-vetrnik-control/homeassistant/vetrnik.yaml
Due: none

[control] Remove unused MQTTpublish macro
  firmware/zvire-vetrnik-control/src/mqtt.h
Due: check-control

Silence warnings from new version of cppcheck
  firmware/zvire-vetrnik-control/.cppcheck-suppressions
  firmware/zvire-vetrnik-control/platformio.ini
  firmware/zvire-vetrnik-control/src/cli.cpp
Due: check-control, test-control

[control] Rm include/version.h during make clean
  firmware/zvire-vetrnik-control/Makefile
Due: none

[control] Reduce socket timeout for MQTT
  firmware/zvire-vetrnik-control/src/mqtt.cpp
Due: check-control

Revert decreased MQTT timeout
  firmware/zvire-vetrnik-control/src/mqtt.cpp
Due: check-control
